@model IEnumerable<WebApplication11.Models.Order>
@{
    ViewData["Title"] = "SearchOrders";
    Layout = "~/Views/Shared/_admindashboard.cshtml";
}

<h1>SearchOrders</h1>
<center>
    <h1>Search</h1>
    <p>
            <form asp-controller="Admindashboard" asp-action="SearchOrders" enctype="multipart/form-data">
            <input type="date" name="start"/>
            <input type="date" name="end" />
            <input type="submit" name="submit" value="Search"/>
            </form>
       
    </p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Totalprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Totalprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CusId)
            </td>
        </tr>
}
    </tbody>
</table>
</center>


